.profile {
	background-image: url("/img/bg.jpg");
	background-color: #27ae60;
}

.bio {
	background-color: #2c3e50;
	color: #f2f1ef;
}

.container-fluid {
  height: 100%;
}

.mainrow {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.twothirdrow {
	height: 67%;
	overflow: hidden;
}

.halfrow {
	height: 50%;
	overflow: hidden;
}

.thirdrow {
	height: 34%;
}

.nametext {
	padding: 0;
	margin: 0;
}

.profgrid {
	width: 80%;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
	margin-top: 0.5em;
}

.slink {
	height: 100%;
	margin: auto;
	text-align: center;
}

.slink img {
	height: 100%;
}

.slink i {
	height: 100%;
  display: inline-block;
  font-size: 2vw;
  text-align: center;
  vertical-align: middle;
}

img {
	width: 100%;
}

html, body {
	height: 100%;
	background:gray;
}

#email {
	color: white;
	text-decoration: none;
}

#linkedin img {
	background-color: #0274b3;
}

#github img {
	background-color: #000000;
	padding: 0.4em;
}

#resume img {
	background-color: #ecf0f1;
	padding: 0.3em;
}

#portfolio img {
	background-color: #e67e22;
	padding: 0.3em;
}
