<h1>Hello!</h1>
<p>
  I am Nick, a maker and technology enthusiast.
</p>
<p>
  Currently I am in my freshman year at MIT, pursuing a degree in EECS. I am actively involved in MIT Motorsports, a team that annually builds an electric racecar and competes in Formula SAE.
  In the past, I have built several cool projects, usually for the fun of it.
  You can read more about them in my portfolio or while stalking me on GitHub.
</p>
<p>
  I like focusing on the design of my projects, while also making the proper architectural decisions and, if need be, social or moral considerations.
  I also love working in small teams toward a common goal.
  I believe small teams allow decision flexibility and are a platform for every member to be heard.
</p>
<p>
  Enough about my ramblings, feel free to email me with any questions or propositions you have.
</p>
<h3>Have a nice day!</h3>
